---
layout: page
title: RyCUMA
subtitle: Investigadores "Ramón y Cajal" en la Universidad de Málaga
---
<div class="main-explain-area jumbotron">
   El Subprograma Ramón y Cajal forma parte del <a href="http://www.idi.mineco.gob.es/portal/site/MICINN/menuitem.7eeac5cd345b4f34f09dfd1001432ea0/?vgnextoid=83b192b9036c2210VgnVCM1000001d04140aRCRD">Plan Estatal de Investigación Científica, Técnica y de Innovación</a> y tiene como objetivo la incorporación de investigadores nacionales y extranjeros con una trayectoria destacada. Las ayudas son de caracter competitivo, tienen una duración de cinco años y están destinadas a la contratación laboral de los investigadores seguida de la creación de puestos de trabajo de carácter permanente en los agentes del Sistema Español de Ciencia, Tecnología e Innovación beneficiarios de estas ayudas, como la <a href="http://www.uma.es/">Universidad de Málaga</a>.
	<p></p>
	Además de la evaluación inicial que da acceso al contrato laboral, el rendimiento de los investigadores es evaluado de nuevo por la Agencia Nacional de Evaluación y Prospectiva (<a href="http://www.aneca.es/">ANECA</a>) durante el segundo y el cuarto año del contrato.
	<p></p>
	También durante el cuarto año y con caracter voluntario, los investigadores pueden someterse a una evaluación adicional para la obtención de la Certificación I3 a efectos del Programa de Incentivación de la Incorporación e Intensificación de la Actividad Investigadora (<a href="http://www.idi.mineco.gob.es/portal/site/MICINN/menuitem.dbc68b34d11ccbd5d52ffeb801432ea0/?vgnextoid=28b5b76fb9bbf210VgnVCM1000001d04140aRCRD">Programa I3</a>) por el cual la institución percibe financiación adicional para la estabilización laboral de los investigadores en poder de dicha certificación.
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
